{
  "extends": [
    "@antfu",
    "@unocss"
  ],
  "rules": {
    "no-only-tests/no-only-tests": "off",
    "unused-imports/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "off",
    "@typescript-eslint/no-namespace": "off"
  }
}
